*, *::before, *::after {
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.avatar {
  background-image: url("images/jrpuppy.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
}

.avatar::before,
.avatar::after {
  position: absolute;
  top: -.25rem;
  left: 50%;
  height: 50px;
  width: 50px;
  transform: translateX(-50%) translateY(-100%);
}

.avatar::before {
  padding: .5rem;
  width: max-content;
  max-width: 100%;
  background-color: #333;
  content: attr(data-tooltip);
  color: white;
  text-align: center;
  border-radius: 10px;
}
