*, *::before, *::after {
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.avatar {
  background-image: url("images/jrpuppy.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.avatar:hover::after {
  content: attr(data-tooltip);
}
