*, *::before, *::after {
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.avatar {
  background-image: url("images/jrpuppy.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
}

.avatar1 {
  background-image: url("images/puppy.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 8px;
  position: relative;
}

/* 1 */
.avatar::before,
.avatar::after {
  --scale: 0;
  --arrow-size: 10px;
  --tooltip-color: brown;

  position: absolute;
  top: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(var(--translate-y, 0)) scale(var(--scale));
  transition: 150ms transform;
  transform-origin: bottom center;
}

/* 2 */
.avatar::before {
  --translate-y: calc(-100% - var(--arrow-size));
  background: var(--tooltip-color);
  border-radius: .3rem;
  color: white;
  content: attr(data-tooltip);
  width: max-content;
  max-width: 100%;
  padding: .5rem;
  text-align: center;
}

/* 3 */
.avatar:hover::before,
.avatar:hover::after {
  --scale: 1;
}

/* 4 */
.avatar::after {
  --translate-y: calc(-1 * var(--arrow-size));
  content: '';
  border: var(--arrow-size) solid transparent;
  border-top-color:var(--tooltip-color);
  transform-origin: top center ;
}

.avatar1::before,
.avatar1::after {
  --scale: 0;
  position: absolute;
  top: -.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(-100%) scale(var(--scale));
}

.avatar1::before {
  content: attr(data-tooltip);
  color: white;
  background-color: green;
  border-radius: .5rem;
  padding: .5rem;
  text-align: center;
  width: max-content;
  max-width: 100%;
}

.avatar1:hover::before {
  --scale: 1;
}
