.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.checkbox-container label {
  cursor: pointer;
  display: flex;
  margin-right: 1em;
}

.checkbox-container input[type='checkbox'] {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before,
.checkbox-container input[type='checkbox']:hover + label::before{
  content: '';
  width: 1em;
  height: 1em;
  border-radius: .15em;
  margin-right: .5em;
  border: .05em solid black;
}

.checkbox-container label:hover::before {
  background-color: #bada55;
}

.checkbox-container input[type='checkbox']:checked + label::before {
  content: '\002714';
  background-color: #27AE60;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
