* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
}

.page-container {
  background-image: url(https://i.pinimg.com/originals/a1/88/27/a18827158c5845afc342a9bc4a1bfdcd.jpg);
  background-size: cover;
  background-position: center;
  /* for future login */
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;

}

.login-container {
  background-color:hsla(201, 100%, 6%, 0.6);
  border-radius: 5px;
  /* font subjective */
  font-family: 'Roboto', sans-serif;
  min-width: 400px;
  max-width: 600px;
  padding: 50px 30px;
  width: 50%;
}

.login-header {
  color: white;
  font-weight: normal;
  font-size: 2.5em;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
}

.input-group {
  display:flex;
  flex-direction: column;
  padding: 0 16px;
}

.input-group label {
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 7px;
}

.input-group input{
  background: hsla(201,100%, 91%, 0.3);
  border: 1px solid hsl(201, 100%, 6%);
  border-radius: 5px;
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
  margin-bottom: 16px;
  outline: none;
  padding: .1em .25em;
  width: 100%;
}

.input-group input:focus {
  border: 1px solid hsl(201, 100%, 50%);
}

.login-button {
  background-color: hsla(201,100%,50%,0.1);
  border: 1px solid hsl(201, 100%, 50%);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: lighter;
  margin-top: 20px;
  outline: none;
  padding: 10px 30px;
  width: 100%;
}

.login-button:hover {
  background: hsla(201, 100%, 50%, 0.5);
  cursor: pointer;
}
